name: Validate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Check formatting
        run: nix run nixpkgs#nixfmt-tree -- --ci
      - name: Check flake
        run: nix flake check
